<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769609070079-5uvbapf191pdeujs4h144hlgubpnpa6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769609070079-5uvbapf191pdeujs4h144hlgubpnpa6s</string>
	<key>API_KEY</key>
	<string>AIzaSyCTm_YrP7fLBP66QQRl7g6er210WPc1Uq8</string>
	<key>GCM_SENDER_ID</key>
	<string>769609070079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivek.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-d0282</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-d0282.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769609070079:ios:0cc508dd83d4b506af23ca</string>
</dict>
</plist>