<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704108385043-p4mffio3gc12sm7gb202ri7idctjn5au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704108385043-p4mffio3gc12sm7gb202ri7idctjn5au</string>
	<key>API_KEY</key>
	<string>AIzaSyCIgdz3z7P2ch47wLFu0b5k0VEhMIrCVnA</string>
	<key>GCM_SENDER_ID</key>
	<string>704108385043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivek.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-98b27</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-98b27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704108385043:ios:84bb4e14773f4b752c80e6</string>
</dict>
</plist>